<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prueba.Properties.Settings.Prueba" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Prueba.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>